<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
        <title>Nothing to see here</title>
        <link rel="icon" href="/public/images/logo.png" sizes="16x16" />
    </head>
    <body style="display: flex; justify-content: center; align-items: center; padding-top: 20%">
        <div>
            <h1>Nothing to see here</h1>
        </div>
    </body>
</html>
