<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <title>Account created</title>
    <link rel="icon" href="<%= rootPath %>/public/images/logo.png" sizes="16x16" />
  </head>
  <body style="margin: 0">
    <h2>Hi <%= username %></h2>
    <p><%- message %></p>
  </body>
</html>
